body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #181a18;
    padding: 15px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu li {
    /* margin: 0 20px; */
    margin-left: 20px;
    margin-right: 20px;
}

.menu a {
    color: rgb(218, 219, 220);
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: rgba(144, 139, 139, 0.872);
    text-decoration: underline;
}

.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.elemento-carousel {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.elemento-carousel.activo {
    opacity: 1;
}

/* CONTENIDO */
main {
    
    padding: 30px;
    text-align: center;
}

.descripcion, .servicios {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
}

/* Para desplegar el gif */
.gif {
    display: block;
    margin: auto;
    width: 350px;
}

.videos {
    display: flex;
    gap: 0px;
}

video {
    width: 150px;
    border-radius: 100px;
    
}


